
body { 
	color: #FFFFFF;
	background-image: url(../images/orange.jpg);
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: #FFFFFF;
	font-size: 20px;
	font-style: italic;
}

h2 {
	font-style: italic;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 5px; 
	background-color: #c3b0da;
	color: #FFFFFF;
	font-family: Georgia, "Times New Roman", serif;
}

/*Navigation*/
nav {
	position: static;
	text-align: center;
}

nav li { display: inline-block; }

nav a {
	display: block; 
	padding: 10px;
}

nav a:hover { background-color: black; }

a { 
	color: #D3D3D3;
	text-decoration: none;
}

a:hover { color: #c3b0da;}

.current { 
	background-color: black;
	color: white; 
}

.container {
	margin: 0 auto;
	width: 96%;
	max-width: 100%;
	position: relative;
}
.right {
	float: right;
	margin-left: 15px;
}

.light-bg {	background-color: rgba(255,255,255,0.5); }
p.light-bg { padding: 25px; }

.img-frame {
	border: 1px solid #999999;
	padding: 5px;
}

.full { 
	width: 96%;
}

.image-holder { 
	text-align: center; 
}

/*	*************************************
	Layout
	************************************* */
article, aside { 
	display: table-cell;
	padding: 25px;
}
article { 
	background-image: url(../images/clouds.jpg);
	background-size: cover;
	width: 66%; 
}
aside { 
	background-color: #b2cecf; 
	width: 30%; 
}

footer { margin-top: 15px; }

/*	*************************************
	State
	************************************* */
.current { 
	background-color: black;
	color: white; 
}

/*	*************************************
	Media Queries
	************************************* */
@media only screen and (max-width : 720px) {
	article, aside { 
		display: block;
		width: auto;
	}
}

@media only screen and (max-width : 540px) {
	article, nav { 
		background-image: none;
		padding: 0;
	}
	nav { 
		position: static;
	}
}

@media only screen and (max-width : 390px) {
	nav li { 
		display: block; 
	}

	.right {
		float: none;
		margin-left: 0;
		margin-top: 25px;
	}
}


